.subscribe{
    margin-top: 2rem;
}

.banner{
    background-image: url(../images/keyboardglow.png);
    background-size: cover;
    padding-top:2em;
    margin-bottom:3rem;
    height:260px;
    color: #FFED65;
}