.container{
    max-width:1200px;
}


h1,
h2{
    font-family: 'Russo One', sans-serif;
    font-size:50px;
    text-align:center;
}

p{
    font-family: 'Open Sans', sans-serif;    
    line-height: 30px;
}
/* The header of the website */
header{
    max-width: 1200px;
}


nav ul li{
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    display:block;
  text-align: center;   
}


a,
 a:link,
 a:visited{
    color: inherit;
  
}

a:hover,
 a:focus{
   color:red;
}

.menu-nav a,
.menu-nav a:link,
.menu-nav a:visited{
  text-decoration:none;
}


ul li{
   margin-top:3rem;
}

.logo{
    width:20%;
}
/* Main area */
main{
    max-width: 1200px;
    text-align: center;
}

.abouth2{
    margin-left:1.5rem;
}

footer{
    float: right;
}

