.container{
    max-width:1200px;
}

h1{
    font-family: 'Russo One', sans-serif;
    font-size:50px;
    text-align:center;
}

p{
    font-family: 'Open Sans', sans-serif;    
}

nav ul li{
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    display:block;
  text-align: center;
}

ul li{
   margin-top:3rem;
}

