/* This is the css for the About Page on mobile of the RichRealDeal Website */

/* This is the header of the website */
.logo{
    width:50%;
    margin-left:-8rem;
}

.navbar-toggler{
    margin-top:-3rem;
margin-left:23rem;
}
