body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-size: 18px;
}

h1{
    background-color: greenyellow;
}

footer{
    background-color: greenyellow;
}

.site-title{
    color: black;
}

#my-image{
    box-shadow: 0px, 0px, 2px, 1px black;
}

ul li:nth-child(odd){
background-color: greenyellow;

}


nav ul{
    list-style: none; 
}
nav ul a,
nav ul a:link,
nav ul a:visited{
    text-decoration:none;
    background: greenyellow;
}

nav ul a:hover,
nav a :focus{
   background:crimson; 
}

