/* This is the css for the about page */
html {
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
}


/* The images will be responsive */
img {
    height: auto;
    max-width: 100%;
}

/* Some of the images will not appear on mobile screen */
.barpic {
   display: none;
}

.bowlingpic {
    display: none;
}

.fitnesspic {
    display: none;
}

.climbingpic {
    display: none;
}

/* The nav link will have no underlines and no other decoration The colour is white since the background is dark */
a {
    color: white;
    text-decoration: none;
}


ul a:hover{
    font-weight: bold;
    animation-duration: 0.2s;
    transition:0.4s;  
}

ul a:active{
transition: transform 4s;

}




/* The header will have a black background and every element is centered */
header {
    background-color: #3C3B3A;
    padding-bottom: 2em;
   margin-right:-0.5rem;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: -1rem;
    margin-left: -1rem;

}


.currentpage {
    font-weight: bold;
}

.logo {
    justify-content: center;
    margin: auto;
    width: auto;
    max-width: 100px;

}

nav {
    margin-left: -2rem;
}

/* The list will no longer have underline and there is some space between every item */
ul li {
    margin-bottom: 1rem;
    list-style: none;
}
/* Here are the characteristics of the headings */

h2 {
    font-size: 32px;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-left: 3rem;
    margin-right: 7rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 47px;
}

h3 {
    font-size: 24px;
    margin-left: 2rem;
    color: #26A682;
    font-weight: lighter;
}

/* This is the construction section, little code because there is not a lot of content */
.construction>p {
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 7rem;
}

.about {
    background-color: #F2F2F2;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.aboutbanner {
    padding-top: 3em;
    width: 100%;
    height: 130px;
    background-image: url(../images/about.jpg);
    background-position: 55% 55%;
    filter: contrast(1.5);
    background-size: cover;
    text-align: center;
    opacity: 0.6;

}

.banner {
    color: rgb(255, 255, 255);
}

.banner1 {
    background: rgb(38, 166, 130);

}

.italic {
    font-style: italic;
}

.servicesbanner {
    padding-top: 3em;
    width: 100%;
    height: 130px;
    background-image: url(../images/services.jpg);
    background-position: 55% 55%;
    filter: contrast(1.5);
    background-size: cover;
    text-align: center;
    opacity: 0.4;

}

.banner2 {
    background: rgb(38, 166, 130);

}


.bar>p {
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bar>h2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.competitive {
    background-color: #F2F2F2;
    padding-top:1em;
    padding-bottom: 3em;
    margin-bottom: -1rem;
}

.competitive>p {
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.competitive>h2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subscribe {
    background-color: #3C3B3A;
    color: white;
    padding-bottom: 2em;
}

.subscribe>p {
    text-align: center;
}

.buttonsubscribe {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 35%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 9rem;
    border-radius: 40px;
    background-color: #26A682;
    color: #F2F2F2;

}

.fitness>p {
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.fitness>h2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.climbing {
    background-color: #F2F2F2;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.climbing>h3 {
    margin-left: 0rem;
}

.Thankyou {
    text-align: center;
    margin-left: 4rem;
    margin-right: 5rem;
    font-size: 56px;
    line-height: 66px;
}

/* This section is where all the size of the brand decrease because it is too big */
.SABrand {
    width: 340px;
    margin-left: 3rem;
}

.ACLogo {
    margin-left: 6rem;
    width: 250px;
}

.pcllogo {
    margin-left: 4rem;
    width: 320px;
}

.cibc {
    margin-left: 8.5rem;
    width: 200px;
}

.social {
    background-color: #3C3B3A;
    color: white;
    padding-bottom: 2em;
    margin-bottom: -3rem;
}

.social>h2 {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-style: unset;
    padding-top: 1em;
}

.mediaicons {
    max-width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 6.5rem;
}

/* The arrow and back to top will take you to back to the top of the website. */
.arrow {
    float: right;
    max-width: 30px;
    margin-top: -4rem;
    margin-right: 3.3rem;
}

.backtotop {
    float: right;
    font-size: 12px;
    margin-top: -2rem;
    margin-right: 2.5rem;
}

@media screen and (min-width:768px) {
    header {
        height: 70px;
    }

    .logo {
        float: left;
        margin-left: 2rem;
    }

    /* The navigation is displayed in rows */
    ul li {
        display: inline-block;
        margin-left: 3rem;
    }

    nav {
        margin-left: 10rem;
        padding-top: 1em;
    }

    h1 {
        font-size: 72px;
        line-height: 85px;
    }


    .barpic {
        display: block;
        float: left;
        object-fit: cover;
        width: 218px;
        height: 374.51px;
        margin-right: 2rem;
    }

    .bowlingpic {
        display: block;
        float: right;
        object-fit: cover;
        width: 218px;
        height: 374.51px;
        margin-left: 2rem;
        margin-top:2rem;
    }

    /* Here is the subscribe section for the tablet screen*/
    .subscribe {
        margin-top: 10rem;
    }

    .subscribe>p {
        display: block;
        margin-top: 1.5rem;
        margin-left: 15rem;
        float: left;
        font-size: 20px;
    }

    .buttonsubscribe {
        margin-top: 1.5rem;
        margin-left: 1rem;
        width: 140px;
    }
    

    .fitnesspic {
        display: block;
        float: left;
        object-fit: cover;
        margin-right: 2rem;
        width: 218px;
        height: 374.51px;
    }

    .climbingpic {
        display: block;
        float: right;
        object-fit: cover;
        margin-left: 2rem;
        margin-top: 13rem;
        width: 218px;
        height: 374.51px;
    }

    .bowling {
        float: left;
        margin-left: 2rem;
        width: 218px;
        height: 374.51px;

    }

    .climbing {
        margin-top: 10rem;
        padding-bottom:8em;
        padding-right: 21em;
        max-width: 560px;
    }

    .competitive {
        margin-top: 6rem;
        padding-top:2em;
        padding-bottom:8em;
    }
.Thankyou{
    margin-top:15rem;
}
    .SABrand {
        margin-left: 6rem;
        width: 500px;
    }

    .ACLogo {
        margin-left: 14rem;
    }

    .pcllogo {
        margin-left: 11rem;

    }

    .cibc {
        margin-left: 12rem;

    }

    .mediaicons {
        margin-left: 15rem;

    }

    @media screen and (min-width:1200px) {
        .logo {
            margin-left: 4rem;
        }

        nav {
            float: right;
            margin-right: 5rem;
        }

        h1 {
            max-width: 780px;
        }

        .construction>p {
            max-width: 670px;
        }

        .construction {
            float: left;
        }

        .constructionpic {
            max-width: 640px;
            margin-left: -11rem;
            margin-top: 6rem;
            margin-bottom: 6rem;
        }

        .about {
            display: flex;
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        .who>p {
            max-width: 560px;
            margin-right: 4rem;
        }

        .what>p {
            max-width: 550px;

            margin-right: 4rem;
        }

        .where>p {
            max-width: 570px;
        }

        .barpic {
            width: 700px;
            margin-left: 2.0rem;
        }

        .bar>p {
            display: flex;
        }

        .bowlingpic {
            width: 700px;
            margin-right: 2.0rem;
        }

        .subscribe>p {
            margin-top: 1.5rem;
            margin-left: 35rem;
            float: left;
            font-size: 20px;
        }

        .buttonsubscribe {
            margin-top: 1.5rem;
            margin-left: 3rem;
        }

        .competitive {
            margin-top:14rem;
            padding-bottom: 13em;
        }

        .fitnesspic {
            width: 700px;
            margin-left: 2.0rem;
        }

        .fitness>p {
            display: flex;
        }

        .climbingpic {
            width: 700px;
            margin-right: 2.0rem;
            margin-top: 16rem;
            
        }

        .climbing {
            max-width:1400px;
            padding-right: 14em;
            margin-top:20rem;
            padding-bottom:10em;
            padding-top:2em;
            margin-bottom:4rem;
        }

        .SABrand {
            width: 340px;
            margin-left: 3rem;
            margin-bottom:4rem;
        }

        .ACLogo {
            margin-left: 6rem;
            width: 250px;
        }
        
        .pcllogo {
            margin-left: 4rem;
            width: 320px;
        }
        
        .cibc {
            margin-left: 8.5rem;
            width: 200px;
        }

         /* The footer section that is for desktop */
    .mediaicons{
        max-width: 180px;
       margin-left: 41rem;
    }
        .arrow{
            max-width:220px;
        }
        .backtotop {
            font-size: 12px;
            margin-top: -1rem;
            margin-right: 2.7rem;
        }
    }
}