/* This is the css for the about page */
html {
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
}


/* The images will be responsive */
img {
    height: auto;
    max-width: 100%;
}


/* The nav link will have no underlines and no other decoration The colour is white since the background is dark */
a {
    color: white;
    text-decoration: none;
}

/* Here are the characteristics of the headings */

h2{
    font-size: 32px;
}
/* The header will have a black background and every element is centered */
header {
    background-color: #3C3B3A;
    padding-bottom: 2em;
    font-size: 18px;
    font-weight: normal;
    text-align: center;

}

.currentpage{
    font-weight: bold;
}

.logo {
    justify-content: center;
    width: 25%;
}

nav {
    margin-left: -2rem;
}

/* The list will no longer have underline and there is some space between every item */
ul li {
    margin-bottom: 1rem;
    list-style: none;
}


h1 {
    font-size: 40px;
    font-weight: bolder;  
    margin-left: 3rem;
    margin-right: 7rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 47px;
}
h3{
    font-size: 24px;
    color:#26A682;
    font-style: italic;
}
/* This is the construction section, little code because there is not a lot of content */
.construction >p{
    font-size: 20px;
    margin-left: 3rem;
margin-right: 7rem;
}

.about{
    margin-left: 2rem;
    margin-right: 3rem;
}

.aboutbanner{
    text-align: center;
    background: green url(../images/about.jpg);
}

.servicesbanner{
    background: green url(../images/services.jpg);
}
.competitive{
    background-color: #F2F2F2;
}
.subscribe{
    background-color: #3C3B3A;
    color:white;
    padding-bottom: 2em;
}

.subscribe>p{
    text-align: center;
}
.buttonsubscribe{
    font-family: 'Raleway', sans-serif;
text-align: center;
    width: 35%;
font-size:20px;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 9rem;
    border-radius: 40px;
    background-color: #26A682;
    color: #F2F2F2;

}

.social {
    background-color: #3C3B3A;
    color: white;
    padding-bottom: 2em;
    margin-bottom: -3rem;
}

.social>h2{
    display: flex;
    justify-content: center;
    font-style: unset;
    padding-top:1em;
}

.mediaicons{
    max-width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top:1rem;   
    margin-left: 6.5rem;
}

/* The arrow and back to top will take you to back to the top of the website. */
.arrow {
    float: right;
    width:7%;
    margin-top: -4rem;
    margin-right: 3.3rem;
}

.backtotop {
    float: right;
font-size: 12px;
    margin-top: -2rem;
    margin-right: 2.5rem;
}

