/* This will be the css for the contact page */
/* The header will look the same for every page */
html {
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
}


header {
    background-color: #3C3B3A;
    padding-bottom: 2em;
   margin-right:-0.5rem;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: -1rem;
    margin-left: -1rem;

}

.currentpage {
    font-weight: bold;
}

.logo {
    justify-content: center;
    margin: auto;
    width: auto;
    max-width: 100px;

}


/* The nav link will have no underlines and no other decoration The colour is white since the background is dark */

a {
    color: white;
    text-decoration: none;
}

nav {
    margin-left: -2rem;
}
ul li {
    margin-bottom: 1rem;
    list-style: none;
}

ul a:hover{
    font-weight: bold;
    animation-duration: 1s;
    transition:1s;  
}

h1 {
    font-size: 50px;
    line-height: 59px;
    margin-left: 3rem;
    margin-right: 6rem;
}

h2{
    font-size: 40px;
}

.contactparagraph {
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 7.5rem;
}

.contacting {
  margin-left:3rem;
    width: 80%;
}

/* This is te form area where the background is green with rounded corners. Everything is rounded. You have the 
full name, student number, email and message textbox */
.signup {
    margin: auto;
    max-width: 540px;
    box-shadow: 0.5px 2px 14px 1px #707070;
    color: white;
    width: 85%;
    text-align: center;
    background-color: #26A682;
    border-radius: 25px;
}

.signup>h2{
    font-size: 40px;
    margin-left: -4rem;
    padding-top: 1em;
}
/* All the inputs and textarea will be rounded with no border */
input{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    max-width: 540px;
    display: flex;
    border: none;
    margin-bottom: 1rem;
    margin-left:3rem;
    border-radius: 72px;
    width:75%;
    height: 20px;
    padding:0.5em;
    border-radius: 72px;
}
textarea{
    font-family: 'Raleway', sans-serif;
    display: flex;
    border: none;
    max-width: 550px;
   margin-left:3rem;
   margin-bottom: 2rem;
   width:77%;
    height:100px;
    border-radius: 10px;
}
/* The label must be aligned on the edge of the input/text area */
label{
   margin-left:-14rem;

}
.label2{

  margin-right:-3rem;
}
.label3{
    margin-right:2rem;
  }
  .label4{
    margin-right:1rem;
  }

  /* This is the custom made button that is black with white text, and it is rounded */
  .submit{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #3C3B3A;
    border-radius: 40px;
    width:300px;
    padding-top:0.2em;
    padding-bottom:0.2em;
      font-size: 32px;
      margin-bottom: 2rem;
      margin-left:1rem;
      border: none;
  }
  .ACSAsubtitle{
      line-height: 50px;
  }
  .location{
    margin-left: 3rem;
  
  }
  .location>p{
      margin-top:-1rem;
  }
.map {
    margin-top: 2rem;
    width: 100%;
     margin-bottom:-2.7rem;
} 

.social {
    background-color: #3C3B3A;
    color: white;
    padding-bottom: 2em;
    margin-bottom: -3rem;
}
.social>h2{
    font-weight: lighter;
}

.social>h2{
    display: flex;
    justify-content: center;
    font-style: unset;
    padding-top:1em;
}

.mediaicons{
    max-width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top:1rem;   
    margin-left: 6.5rem;
}

/* The arrow and back to top will take you to back to the top of the website. */
.arrow {
    float: right;
    max-width:30px;
    margin-top: -4rem;
    margin-right: 3.3rem;
}

.backtotop {
    float: right;
font-size: 12px;
    margin-top: -2rem;
    margin-right: 2.5rem;
}

.backtotop:hover{
    font-weight: bold;
    animation-duration: 1s;
    transition:1s;  
}


@media screen and (min-width:760px){
    header{
        height:70px;
    }
    
.logo{
    float: left;
    margin-left:2rem;
}
/* The navigation is displayed in rows */
ul li{
    display: inline-block;
    margin-left:3rem;
}

nav{
    margin-left:10rem;
     padding-top: 1em;
}
h1 {
    font-size: 72px;
    font-weight: bolder;  
    margin-left: 3rem;
    margin-right: 7rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 85px;
}
.signup{
    max-width: 500px;
}
.signup>h2{
    margin-right:8rem;  
}
label{
    margin-left:-20rem;
 }
 .label2{
   margin-right:-3rem;
 }
 .label3{
     margin-right:2.5rem;
   }
   .label4{
     margin-right:1rem;
   }
 .submit{
     width: 160px;
     margin-left:15rem;
 }
 .locationtitle{
     font-size: 72px;
 }
 .ACSAsubtitle{
     font-size: 40px;
 }
 .mediaicons{
    margin-left: 15rem;
      
    }
    
}

/* Desktop screen for the Contact page */
@media screen and (min-width:1200px) {
    .logo {
        margin-left: 4rem;
    }

    nav {
        float: right;
        margin-right: 5rem;
    }
    .mainsection>h1{
       margin-top:5rem;
    }
    /* h1{
       width: 800px;
    }
    .contactparagraph{
        max-width: 900px;  
    }

    .contacting{
        max-width: 650px;
    }
    .mainsection{
        max-width: 700px;
      
    }
  
 
 */  
   .ACSAsubtitle{
        max-width:780px;
        font-size: 40px;
    }
  .location{
        margin-top:7rem;
        margin-left: 4rem;
    }
 .signup{ 
         margin: auto;
        width: 500px;
     
    }
 .map{
    margin: auto;
    margin-top:10rem;  
   max-width:600px; 

}
    /* Grids are being used which has 2 columns and 2 rows */
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }

    /* The footer section that is for desktop */
    .mediaicons{
        max-width: 180px;
       margin-left: 41rem;
    }
    .arrow{
        max-width:220px;
    }
    .backtotop {
        font-size: 12px;
        margin-top: -1rem;
        margin-right: 2.8rem;

    }
    
}