/* This is the css section for the main page. Mobile layout goes first.The font is being used is Raleway,
 which is the main font of this website */

html {
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
}

/* The images will be responsive */


/* The header will have a black background and every element is centered */
header {
    background-color: #3C3B3A;
    padding-bottom: 2em;
    margin-right: -0.5rem;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: -1rem;
    margin-left: -1rem;

}
/* The page you are on has a bold, which tells you what page are you on */
.currentpage {
    font-weight: bold;
}

.logo {
    justify-content: center;
    margin: auto;
    width: auto;
    max-width: 100px;

}


/* The nav link will have no underlines and no other decoration The colour is white since the background is dark */
a {
    color: white;
    text-decoration: none;
}

nav {
    margin-left: -2rem;
}

/* Adding some animation to the nav section */

ul a:hover {
    font-weight: bold;
    animation-duration: 0.6s;
    transition: 0.6s;
    border-bottom: 3px white solid;
}


/* The list will no longer have underline and there is some space between every item */
ul li {
    margin-bottom: 1rem;
    list-style: none;
}


/* This is the area where these header will have different characteristic */
h1 {
    font-size: 40px;
    max-width: 260px;
    font-weight: bolder;
    margin-left: 3rem;
    margin-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 47px;
}

h2 {
    font-size: 34px;
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #26A682;
}

/* This is the section where there are 4 activities you can choose from. There is icons with labels under it.
There is 2 columns of activities. Since there was no icons I cannot find, I took one that is close to the mockup */
.ARC-p {
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 9rem;
}

.activities {
    color: #26A682;
    margin-left: 3rem;
}

.activities>img {
    width: 10%;
}

.bowling>p {
    margin-top: -0.1rem;
    margin-left: 1.5rem;
}

.bowlingpic {
    margin: auto;
    width: auto;
    max-width: 40px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.rockclimbingicon {
    margin: auto;
    width: auto;
    max-width: 40px;
    float: right;
    margin-top: -7rem;
    margin-right: 4.5rem;
}

.rockclimbing>p {
    float: right;
    margin-top: -3.1rem;
    margin-right: 2.5rem;
}

.dumbbell {
    margin: auto;
    width: auto;
    max-width: 40px;
    margin-left: 2rem;
    margin-top: -2rem;
    margin-bottom: -1.5rem;
}

.fitness>p {
    margin-top: 1rem;
}

.indoorcourt>p {
    float: right;
    margin-top: -3.1rem;
    margin-right: 3rem;
}

.bballpic {
    margin: auto;
    width: auto;
    max-width: 40px;
    float: right;
    margin-top: -6rem;
    margin-right: 4.5rem
}


/* This is the well customized button that is rounded and has a green colour.
There is also a shadow at the bottom at the button */
.start {
    font-family: 'Raleway', sans-serif;
    width: 75%;
    font-size: 32px;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 40px;
    background-color: #26A682;
    color: #F2F2F2;
    box-shadow: -1px 4px 10px 0px black;
}

/* There is no scroll to the bottom on mobile size. Therefore it should not appear. */
.scroll {
    display: none;
}

.discovering {
    width: 100%;
}

/* This is the discover Algonquin College */
.discoveralgonquin {
    font-size: 16px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* The image is also responsive and in a good quality */
.school {
    object-fit: cover;
    height: 200px;
    width: 102.2%;
    margin-left:-0.5rem;  

}

/* Here are the 2 learn more buttons that are decorated. There is a bit of shadow effects. */
.learnmore1,
.learnmore2 {
    margin-left: 14.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 146px;
    border-radius: 40px;
    background-color: #26A682;
    box-shadow: -1px 4px 10px 0px black;
    color: #F2F2F2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 2rem;
}

/* This is the Simon section witha grey background with white text */
.simon {
    background-color: #3C3B3A;
    padding-top: 1em;
    margin-right: -0.5rem;
    margin-left: -1rem;
    padding-bottom: 1em;
    color: #F2F2F2;
}

/* The h3 is basically who she is. */
.simon>h3 {
    text-align: center;
    max-width: 200px;
    margin-left: 8rem;
    margin-right: 1rem;
    font-weight: bold;
    color: #F2F2F2;
}

.simon>p {
    justify-content: center;
    margin-left: 3rem;
    margin-right: 4.6rem;
}

/* The picture of Simon is rounded with a white border. */
.simonpic {
    max-width: 200px;
    width: 40%;
    margin-left: 8.5rem;
    border-radius: 100px;
    border: 5px solid white;
}
/* This section is the entertainment section */
.entertainment {
    margin-left: 3rem;
    margin-right: 4rem;

}

.entertainment>.learnmore {
    margin-left: 14rem;
}
/* The image is also responsive and in a good quality */
.entertainmentpic {
    object-fit: cover;
    margin-left: -0.5rem;
    height: 200px;
    width:102%;

}

/* This section is the footer It has the social media icons in the middle and a back to top navigation */
.social {
    background-color: #3C3B3A;
    color: white;
    padding-bottom: 2em;
    margin-bottom: -3rem;
    margin-right: -0.5rem;
    margin-left: -1rem;
}

.social>h2 {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-style: unset;
    padding-top: 1em;
}

.mediaicons {
    max-width: 240px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 7.5rem;
}

/* The arrow and back to top will take you to back to the top of the website. */
.arrow {
    float: right;
    max-width: 30px;
    margin-top: -4rem;
    margin-right: 3.3rem;
}

.backtotop {
    float: right;
    font-size: 12px;
    margin-top: -2rem;
    margin-right: 2.4rem;
}

.backtotop:hover {
    font-weight: bold;
    animation-duration: 1s;
    transition: 1s;
}


/* This will be the start of the tablet screen for the home screen */

@media screen and (min-width:768px) {

    header {
        height: 70px;
    }

    .logo {
        float: left;
        margin-left: 2rem;
    }

    /* The navigation is displayed in rows */
    ul li {
        display: inline-block;
        margin-left: 3rem;
    }

    nav {
        margin-left: 10rem;
        padding-top: 1em;
    }

    h1 {
        max-width: 600px;
        font-size: 72px;
        line-height: 85px;
    }

    .ARC-p {
        max-width: 600px;
        font-size: 24px;
        margin-left: 3rem;
        margin-right: 6rem;
    }

    /* The activity section is displayed in a row*/
    .activities {
        max-width: 700px;
        margin: 0.4rem;
        display: flex;
        justify-content: center;
    }

    .rockclimbing {
        margin-top: 7.4rem;
    }

    .fitness {
        margin-top: 1.3rem;
        margin-left: 3rem;
    }

    .indoorcourt {
        margin-top: 7.4rem;
    }
    .indoorcourt>p{
    margin-top: -2.9rem;
}
    /* The button is placed in the middle of the page */
    .start {
        margin: auto;
        width: auto;
        justify-content: center;
        margin-bottom: 3rem;
        width: 300px;
        margin-left: 13rem;
    }

    .discovering {
        margin-left: 6rem;
        width: 500px;
    }

    /* Scroll navigation will appear here, and it will be displayed upside down */
    .scroll {
        display: block;
        text-align: center;
    }
/* The transform part will show that the arrow is on a -180 degree angle */
    .arrowdown {
        margin-top: -0.5rem;
        margin-bottom: 4rem;
        animation-duration: 1s;
        transition: 1s;
        transform: scale(1) rotate(-180deg)
    }

/* Some part of the image is cut out, but still responsive */
    .school {
        width: 101.3%;
        height: 200px;
    }

    .learnmore1,
    .learnmore2 {
        margin: auto;
        width: 280px;
        margin-left: 21rem;
        margin-bottom: 3rem;
        font-size: 24px;

    }

    /*The only big difference about the simon section is the text is beside the image and the h3. */
    .simon {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    .simonpic {
        float: left;
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

    .simon>h3 {
        float: left;
        margin-top: 14rem;
        margin-left: -13rem;
    }


    .simon>p {
        font-size: 24px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20rem;
        margin-right: 5rem;

    }
/* The part of the image is cut off, but still in good quality. */
    .entertainmentpic {
        width: 101%;
        height: 200px;
    }

    .mediaicons {
        margin-left: 16rem;

    }
}

/* Desktop screen for the Home page */
@media screen and (min-width:1200px) {
    .logo {
        margin-left: 4rem;
    }
/* The nav with be moved all the way to the right */
    nav {
        float: right;
        margin-right: 5rem;
    }

    h1 {
        margin-top: 5rem;
    }

    .ARC-p {
        max-width: 560px;
    }

    .start {
        margin-left: 3rem;
    }

    /* The discovering image will float to the right where it is beside with the different activities... */
    .discovering {
        float: right;
        width: 45%;
        margin-top: -36rem;
        margin-bottom: 4rem;
        margin-right: 4rem;
    }

    .scroll {
        margin-top: 4rem;
        margin-left: 23rem;
        margin-bottom: 3rem;
    }

    .scroll>p {
        margin-top: 2rem;
    }


    /* The discover Algonquin College will have a grey like background and take the whole screen. */
    .school {
        background-color: #F2F2F2;
        max-width: 600px;
        height: 337px;
        margin-top: -5rem;
        padding-top: 4.2em;
        padding-bottom: 6em;
        padding-right: 4em;
        padding-left: 4em;
    }
/* The text and all the other content will be right beside the image on the right side. */
    .discoveralgonquin {
        width: auto;
        margin: auto;
        background-color: #F2F2F2;
        margin-left: 8rem;
        margin-right:-0.5rem;
        margin-top: -28rem;
        margin-bottom: 10rem;
        padding-top: 2rem;
        padding-bottom: 4rem;


    }

    .discovertext {
        background-color: #F2F2F2;
        padding-right: 1.6em;
        margin-left: 36rem;
        margin-top: -6rem;
        padding-bottom: 6.5em;
        padding-top: 4em;
        padding-right: 3em;
    }

    .learnmore1 {
        float: right;
        margin-bottom: 3rem;
        margin-right: 10rem;
    }

    /* This is the desktop version of the Simon section where everything will float beside the picture of Simon */
    .simon {
        padding-bottom: 5em;
    }

    .simonpic {
        float: left;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .simon>h3 {
        margin-left: 0rem;
        margin-top: 5rem;
    }

    .simon>p {
        margin-left: 30rem;
        margin-top: 3rem;

    }
    /* The entertainment picture will be floated to the right side an all the other content
    will be displayed on the left side instead. */
    .entertainmentpic {
        margin-right: 3rem;
        display: flex;
        float: right;
        max-width: 600px;
        height: 337px;
        margin-top: 5rem;

    }

    .entertainment {
        width: 660px;
        margin-top: 5rem;
    }

    /* The footer section that is for desktop */
    .mediaicons {
        max-width: 180px;
        margin-left: 42rem;
    }

    .arrow {
        max-width: 220px;
    }

    .backtotop {
        font-size: 12px;
        margin-top: -1rem;
        margin-right: 2.8rem;
    }

}