/* This is the css section for the main page. Mobile layout goes first.The font is being used is Ralway,
 which is the main font of this website */

html{
     font-family: 'Raleway', sans-serif;
    margin: auto;
    width: auto;
    line-height: 35px;
}
img{
    width:20%;
}


/* The nav link will have no underlines and no other decoration The colour is white since the background is dark */
a{
    color:white;
    text-decoration: none;
}
/* The header will have a black background and every element is centered */
header{
    background-color: #3C3B3A;
    padding-bottom: 2em;
    font-size: 18px;
    font-weight:normal;
    text-align: center;
    
}

nav{
    margin-left:-2rem;
}
ul li{
    margin-bottom:1rem;
    list-style: none;
}
h1{
    margin: auto;
    width: auto;
font-size: 40px;
font-weight: bolder;
margin-left:4rem;
margin-right:3rem;
margin-top:3rem;
margin-bottom:2rem;
line-height: 47px;
}

h2{
    font-size: 34px;
    font-style: italic;
}

h3{
    font-size:24px;
    font-weight: lighter;
    color: #26A682;
}
.ARC-p{
    margin-left:4rem;
    margin-right:10rem;
}
.activities{
    color:#26A682;
}
.bowling{
margin-top:5rem;
}
.rockclimbing{
    float: right;
    margin-top:-3.1rem;
    margin-right:4rem;
}
.fitness{
    margin-top:3rem;
}
.court{
    float:right;
    margin-top:-3.1rem;
    margin-right:5rem;
}
/* This is the well customized button that is rounded and has a green colour.
There is also a shadow at the bottom at the button */
.start{
    display: flex;
    font-family: 'Raleway', sans-serif;
    width:300px;
    font-size: 32px;  
    font-weight: bold;
    justify-content: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-left:4rem;
    margin-bottom:2rem;
    border-radius: 40px;
    background-color: #26A682;
    color: #F2F2F2;
    box-shadow: -1px 4px 10px 0px black;
}
.discoverimg{
    width:100%;
}
.school{
    display: block;
width: 375px;
height:200px;
}

.discoveralgonquin{
margin-left:2rem;
}
.discoveralgonquin> p{
    margin-right:2rem;
}

.learnmore{ 
 margin-left:14.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width:146px;
  border-radius: 40px;
  background-color: #26A682;
  box-shadow: -1px 4px 10px 0px black;
  color: #F2F2F2;
  padding-top:0.5em;
  padding-bottom:0.5em;
    margin-bottom:2rem;
    margin-right:4rem;
}
.simon{
    margin: auto;
    width: auto;
    background-color: #3C3B3A;
    color: #F2F2F2;
}
h3{
    color:#F2F2F2;
}
.simonpic{
     width:40%;
margin-left:8.5rem;

border-radius: 100px;
    
}