html {
    font-family: 'Poppins', sans-serif;
}

.logo{
    width:100px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;

}

.menuoption {
    font-size: 20px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin-left: -1rem;
    margin-bottom: 2rem;

}

p{
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 30px;
}

.goal-list{
    line-height: 30px; 
    margin-left: 2rem;
    margin-right: 2rem;
}
/* Footer area */

.footersection {
    margin-top: 3rem;
    text-align: center;
}

.mediaicon {
    width: 25px;
    margin-bottom: 1rem;
}

.instagram{
    margin-right:0.5rem;
}

.facebook{
    margin-bottom:1.05rem;
}

.site-footer{
    margin-top:-0.5rem;
}