html {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.logo{
    width:100px;
}
h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom:3rem;
}

a {
    color:#FFED65;
    text-decoration: none;

}

.menuoption {
    font-size: 17px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin-left: -1rem;
    margin-bottom: 2rem;

}

header{
    background: black;
}

p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 30px;
}

/* Button */
.subscribe{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom:6rem;
    border-radius: 30px;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;

}
/* Footer area */

.footersection {
    margin-top: 3rem;
    text-align: center;
}

.mediaicon {
    width: 25px;
    margin-bottom: 1rem;
}

.instagram{
    margin-right:0.5rem;
}

.facebook{
    margin-bottom:1.05rem;
}

.site-footer{
    margin-top:-0.5rem;
}

@media screen and (min-width:768px) {
    .logo{
        float: left;
    }
    .menuoption{
        display: flex;
    }

    li{
        margin-right:3rem;
    }

 /* Footer */
.footersection{
    display: flex;
   justify-content: center;
   margin-left:-4rem;
   margin-top:9rem;
}
 footer{
 margin-left:3rem;
 }

 .mediaicon{
     margin-top:-0.5rem;
 }
}