/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start of the actual page */
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: auto;
    width: auto;
}

.logo{
    width:200px;
    margin-left:1rem;
    margin-top:0.5rem;
}
h1 { 
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom:3rem;
    line-height: 50px;

}


a {
    font-size:17px;
    color:#FFED65;
    text-decoration: none;

}

.menuoption {
    font-size: 17px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin-bottom: 2rem;

}

header{
    background: black;
}

p {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 30px;
}

.banner{
    color: #FFED65;
   background-image: url(../images/keyboardglow.png);
 background-size: cover;
padding-top:2em;
margin-bottom:3rem;
height:260px;
    filter: contrast(1.5);
}

/* Button */
.subscribe{
    font-family: 'Poppins', sans-serif;
     border: #FFED65 2px solid;
    background-color: black;
    color:#FFED65;
    display: flex;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom:6rem;
    
    border-radius: 30px;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;
}
/* Footer area */

.footersection {
    margin-top: 3rem;
    text-align: center;
    background-color: black;
    color: #FFED65;
    padding-bottom:1.5rem;
    padding-top:1rem;
}

.mediaicon {
    width: 25px;
    margin-bottom: 1rem;
}

.instagram{
    margin-right:0.5rem;
}

.facebook{
    margin-bottom:1.05rem;
}

.site-footer{
    margin-top:-0.5rem;
}

@media screen and (min-width:768px) {
    
    .menuoption{
        display: flex;
        float: right;
        margin-top:-3rem;
    }
h1{
    margin-top:2.5rem;
}
    li{
        margin-right:3rem;
    }

    p{
     margin-left:6rem;
     margin-right: 6rem;
        margin-top: auto;
    }
 /* Footer */
.footersection{
    display: flex;
   justify-content: center;
   margin: auto;
   margin-left:-4rem;
   margin-top:9rem;
   padding-top:2.6rem;

}
 footer{
 margin-left:3rem;
 }

 .mediaicon{
     margin-top:-0.8rem;
 }
}