html {
    font-family: 'Poppins', sans-serif;
}

.logo{
    width:20%;
}



h1 {
    font-size: 35px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    text-align: center;
    margin-top:4rem;
}

a {
    color: black;
    text-decoration: none;

}

.menuoption {
    font-size: 20px;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin-left: -2rem;
    margin-bottom: 2rem;

}

p{
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 30px;
}

/* Services Section */
.imgservice{
    display: flex;
    justify-content: center;
    object-fit: cover;
    max-width:300px;
    margin: auto;
}

.webimg{
width: auto;
height: 270px;
}

.graphicimg{
    width: auto;
    height: 270px;
    }

/* Footer area */

.footersection {
    margin-top: 3rem;
    text-align: center;
}

.mediaicon {
    width: 25px;
    margin-bottom: 1rem;
}

.instagram{
    margin-right:0.5rem;
}

.facebook{
    margin-bottom:1.05rem;
}

.site-footer{
    margin-top:-0.5rem;
}

