h1{
    position: absolute;
    top:14%;
    width:100%;
    text-align: center;
    color: white;
    font-size:60px;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightcyan;
}

img{
    width:100%;
}

.container{
    position: relative;
    max-width: 900px;
    margin:0 auto;
}
nav ul{
    list-style:none;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    width: 33%;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid white;
     font-size: 30px;
}

nav ul li:last-child{
    border: none;
}
.container{
    max-width: 1500px;

    margin: 0 auto;
    background-color: lightblue;
}
article{
    width:20%;
    float: left;
}

aside{
    border: 1px solid black;
    padding: 1.5em;
    width: 80%;
    box-sizing: border-box;
}
footer{
    text-align: right;
}

