body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightcyan;
}

/* Aligning the heading and changing the position */
h1{
    position: absolute;
    top:15%;
    width:100%;
   
    text-align: center;
    color: white;
    font-size:60px;
    font-weight: unset;
} 

img{
    width:100%;
}
/* Making the page shrink a little */
.container{
    position: relative;
    max-width: 900px;
    margin:0 auto;

}
nav ul{
    list-style:none;
    font-weight: unset;
}
/* Making the list in rows */
nav ul li{
    display: inline-block;
    width: 33%;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid white;
     font-size: 30px;
     
}

nav ul li:last-child{
    border: none;
}

h2{
    font-weight: unset;
    margin-left: 1rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    background-color: lightblue;
}
/* wrap text around the image */
.wrap{
    width:10%;
   float:left;
   margin-right: 1rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
 
}
/* Adding border to the form */
aside{
    border: 1px solid black;
    padding: 1.5em;
    width: 98%;
    box-sizing: border-box;
    margin-left: 1rem;
    padding-bottom:.3em;

}
footer{
    text-align: right;
    margin-top: 4.0rem;
    margin-right:0.5rem;
    position:relative;
    padding-bottom:2.5em;
}

input{
width:1200px;
margin-top: 10px;
}

textarea{
    width:1200px;
    height:80px;
}

h3{
    font-weight: unset;   
    margin-bottom:20px;
    
   
}
/* A custom made button instead of using the default button */
.button{
  border: 1px solid black;
  box-sizing: border-box;
  width: 3.8%;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 11px;
  margin-left: 1px;
  margin-top: 10px;
}

.name,
.message,
.email{
    padding: .5em; 
}

.radiobutton> input{
  position: relative;
  display: inline-block;
  width: 1%;
  margin-top: 1px;
}

