/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Actual program starts here */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* Mobile Layout */
/* Header Area */

.site-header .containerheader {
    margin: 0 auto;
    color: #c78c06;
    /* background-color: #c78c06;   */
}

.site-header {
    margin: 0 auto;
    /* background-color: #222; */
}

.nav-list .current{
     color:#222;  
}

.nav-list a{
    color:#c78c06;
}
 .nav-list a,
 .nav-list a:link
 .nav-list a:visited{
    background:none;
}


.searchtext {
    float: left;
    max-width: 1200px;
    height: 40px;
    width: 670px;
    margin-top:2rem;
}

.search{
    margin-top:2rem;
    margin-left:0rem;
    padding-left: 0.5rem;
    padding-right:0.5rem;
}

.logo {
    width: 10%;
}

.logo-background{
    background:#c78c06;   
}

nav {
    text-align: center;
    color: #c78c06;
    background-size: cover;
    padding-top: 1em;
    font-size: 20px;
}

ul li {
    margin-top: 4rem;
}

.search>textarea {
    float: right;
}

/* Main Banner Area */
.main-banner {
    background: url("../images/main-banner.jpg");
    background-size: cover;
    color: white;
    height: 500px;
    margin-left: 9rem;
}

.intro {
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
    margin-top: 14rem;
    height: 400px;

}

button {
    background-color: #c78c06;
    text-decoration: none;
    color: #222;
    margin-left: .5rem;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

p {
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 30px;
}

/* About Us section */

.aboutus-nav {
    background-color: #ffe6ac;
    max-width: 1200px;
    margin-left: 9rem;
}

/* Headings */
h1,
h2 {
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 3rem;
}

h2,
h3 {
    margin-top: 3rem;
    font-size: 40px;
    font-weight: bold;
}

img {
    margin-top: 3rem;
    max-width: 1200px;
    width: 600px;
    align-items: center;
}

/* The section of the anchor tags, looks like buttons */
a {
    background-color: #222;
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* This is the services section, breaking down into different parts */
.services {
    margin-left: 9.5rem;
    width: 100%;
    max-width: 1200px;

}


/* This is the services section broken down into different services */
.digital {
    background: #ffe6ac;
    padding-top: .5em;
}

.market {
    background: #ffe6ac;
    padding-bottom: 2em;
}

.video {
    background: #ffe6ac;
}

.web {
    background: #ffe6ac;
}

.print {
    background: #ffe6ac;
}



.vision {
    max-width: 1200px;
    background: url(../images/vision.jpg);
    color: white;
    margin-left: 8rem;
    width: 1200px;
    height: 400px;

}

/* Team Section */
.Team {
    margin-left: 9.5rem;
    max-width: 1200px;
    background: #ffe6ac;
}

.JohnDoe,
.BobRite {
    margin-left: 1rem;
}

.who {
    margin-top: -4rem;
    font-weight: bold;
    border-bottom: 3px solid #c78c06;
}

.who>p {
    margin-top: -1rem;
    padding-bottom: 1em;
}

.name,
.email,
.message {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

label {
    margin-top: -.5em;
    position: absolute;
}

.send {
    background-color: #222;
    color: #c78c06;
    margin-left: 0rem;
}

input {
    max-width: 1200px;
    width: 600px;
    margin-top: 1rem;
    height: 15px;
}

textarea {
    margin-top: 1rem;
    width: 600px;
    height: 200px;
}

.contact {
    margin-left: 9rem;
}

/* This is the schedule section. in the for of a T-chart */

table {
    border-collapse: collapse;
}

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #222;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 8em;
    padding-left: 1em;
}

table thead:nth-child(1) {
    background: #ffe6ac;
}

footer {
    background: #222;
    color: #c78c06;
    padding-bottom: 1em;
    padding-top: 1em;
}

a>footer {
    color: #c78c06;
}

/* Media Query going to be used for desktop user */

@media screen and (min-width:760px) {
    .container{
        max-width:1200px;
    }
    /* Desktop Header Section */
       header{
        background:#222;
        height:140px;   
    }
    .nav-list {
        margin-left: 0.5rem;
        margin-top:-1rem;
        display: flex;
        float: left;
    }

    .nav-list .current{
        color:#c78c06;  
   }

    li {
        margin-right: 0.5rem;
        
    }
    .searchtext {
        display: inline-block;
        margin-top: 2.5rem;
        height: 40px;
        width: 200px;
    }

    .search{
        margin-top:2.5rem; 
        margin-left:0rem;     
    }

    .logo{
        float: left;
        width:7%;
        margin-top:2rem;
    }
.site-header{
    margin-top:-1rem;
}
 .main-banner{
     margin:0 auto;
     margin-top:-14rem;
 }

 /* Desktop about us section */
}