/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Actual program starts here */
body {
    font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* Mobile Layout */
/* Header Area */

.site-header .containerheader {
    color: #c78c06;
}

.containerheader {
    background-color: #222;
}

.nav-list .current {
    color: #222;

}

.nav-list a {
    color: #c78c06;
    padding: 1em;
    display: block;
}

.nav-list a,
.nav-list a:link .nav-list a:visited {
    background: none;
}

.logo {
    max-width: 100px;
}

.logo-background {
    background: #c78c06;
}

nav {
    text-align: center;
    color: #c78c06;
    font-size: 20px;
}

.searchbar form {
    display: flex;
}

.searchtext {
    padding: 1em;
    width: 100%;
}

.search {
    background-color: #c78c06;
    text-decoration: none;
    color: #222;

}

/*------ Main Banner Area---------- */
.main-banner {
    background: url("../images/main-banner.jpg");
    background-size: cover;
    color: white;
    height: 500px;
    margin-top: -2rem;
}

.intro {
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
    height: 400px;
    bottom: 1050px;
}

p {
    margin-bottom: 2.2rem;
    margin-top: 1rem;
    line-height: 30px;
}

/* About Us section */

.aboutus-nav {
    background-color: #ffe6ac;
    max-width: 1200px;
}

/* Headings */
h1,
h2 {
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 3rem;
}

h2,
h3 {
    margin-top: 3rem;
    font-size: 40px;
    font-weight: bold;
}

img {
    margin-top: 3rem;
    width: 100%;
    align-items: center;
}

/* The section of the anchor tags, looks like buttons */
a {
    background-color: #222;
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* This is the services section, breaking down into different parts */
.services {
    width: 100%;
    max-width: 1200px;

}


/* This is the services section broken down into different services */
.digital {
    background: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 3em;
}

.market {
    background: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 3em;

}

.video {
    background: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 3em;
}

.web {
    background: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 3em;
}

.print {
    background: #ffe6ac;
    padding-top: 1em;
    padding-bottom: 3em;
}



.vision {
    max-width: 1200px;
    background: url(../images/vision.jpg);
    color: white;
    margin-left: 1rem;
    height: 400px;
}

.visionbutton{
   border: 1px solid #c78c06;
}
/* Team Section */
.Team {
    margin-left: 2rem;
    max-width: 1200px;
}

.JohnDoe,
.BobRite {
    
    margin-left: 1rem;
}

.JohnDoe{
    background: #ffe6ac;
}

.BobRite{
    background: #ffe6ac;
}

.who {
    margin-top: -4rem;
    font-weight: bold;
    border-bottom: 3px solid #c78c06;
}

.who>p {
    margin-top: -1rem;
    padding-bottom: 1em;
}

.name,
.email,
.message {
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.send {
    background-color: #222;
    color: #c78c06;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.contact input {
    max-width: 1200px;
    margin-top: 1rem;
    padding: 1em;
    width: 100%;
    display: block;
}

textarea {
    margin-top: 1rem;
    margin-left: 0rem;
    width: 100%;
    height: 200px;
}

.contact {
    margin-left: 2rem;
}

/* This is the schedule section. in the for of a T-chart */

table {
    border-collapse: collapse;
}

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #222;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 8em;
    padding-left: 1em;
}

table thead:nth-child(1) {
    background: #ffe6ac;
}

iframe {
    width: 100%;
}

footer {
    background: #222;
    color: #c78c06;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}

a>footer {
    color: #c78c06;
}

/* Media Query going to be used for desktop user */

@media screen and (min-width:760px) {

    /* Desktop Header Section */
    header {
        background: #222;
        height: 140px;
    }

    .containerheader {
        display: flex;
        background-color: none;
        align-items: center;

    }

    .logo-background {
        background: none;
        height: 200px;
    }

    .nav-list {
        display: flex;
        
    }

    .nav-list .current {
        color: #c78c06;
    }

    .searchbar {     
        min-width: 150px;
    }

    .main-banner {
        margin: 0 auto;
    }


    /* Desktop about us section */

    /* The image in the about us area is being wrapped. */
    .aboutus-nav{ 
        margin: 0 auto; 
    }
  .aboutuspic{
      width:50%;
      float: left;
  }


    /* Using Grid on the Services system */

    .digital{
    width:50%;
    }
}