/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Actual program starts here */
body {
    font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;

}


/* Mobile Layout */
/* Header Area */

.site-header .containerheader {
    max-width: 1200px;
    background: #222;
    color: #c78c06;
    padding-bottom: 1em;
    padding-top: 1em;
}

.site-header {
    background-color: #222;
}

.containerheader {
    background-color: #222;
}

.menulist-nav {
    margin-top: -4rem;

}

.nav-list .current {
    color: #222;

}

.nav-list a {
    color: #c78c06;
    padding: 1em;
    display: block;
}

.nav-list a,
.nav-list a:link .nav-list a:visited {
    background: none;
}

.logo {
    max-width: 100px;
}

.logo-background {
    background: #c78c06;
    padding-bottom: 4em;
    margin-left: 1rem;
    margin-right: 1rem;
}


nav {
    text-align: center;
    color: #c78c06;
    font-size: 20px;
}

.searchbar form {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.searchtext {
    padding: 1em;
    width: 100%;
}

/* The button beside the search bar is decorated */
.search {
    background-color: #222;
    text-decoration: none;
    color: #c78c06;
    border: 1px solid #c78c06;
}


/*------ Main Banner Area---------- */
.main-banner {
    position: relative;
    margin: 0 auto;
    background: #222 url("../images/main-banner.jpg");
    color: white;
    height: 590px;
    padding-top: 4em;
    margin-top: 0rem;
}

.Main-button {
    background: #c78c06;
    color: #222;
    margin-left: 1rem;
}


.intro {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    height: 400px;
}


p {
    margin-left: 1rem;
    margin-bottom: 2.2rem;
    margin-top: 1rem;
    line-height: 30px;
}

/* About Us section */

.aboutus {
    margin: 0 auto;
    max-width: 1200px;
}

.aboutus-nav {
    background-color: #ffe6ac;

}

.aboutuspic {
    width: 95%;
    margin-left:1rem;
    margin-top: 1.5rem;
    background-color: #ffe6ac;
}

/* Headings */
h1,
h2 {
    margin-left: 1rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

h1 {
    margin-top: 2rem;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3rem;
}

h2,
h3 {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 40px;
    font-weight: bold;
}

img {
    width: 100%;
    align-items: center;
}

/* The section of the anchor tags, looks like buttons */
a {
    background-color: #222;
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

i {
    margin-left: 0.5rem;
}

/* This is the services section, breaking down into different parts */
.services {
    width: 100%;
    max-width: 1200px;

}


/* This is the services section broken down into different services */
.digital {
    background: #ffe6ac;
    padding-bottom: 3em;
    margin-bottom: 1rem;
}

.market {
    background: #ffe6ac;
    padding-bottom: 3em;
    margin-bottom: 1rem;

}

.video {
    background: #ffe6ac;
    padding-bottom: 3em;
    margin-bottom: 1rem;
}

.web {
    background: #ffe6ac;
    padding-bottom: 3em;
    margin-bottom: 1rem;
}

.print {
    background: #ffe6ac;
    padding-bottom: 3em;
    margin-bottom: 1rem;
}



.vision {
    width: 100%;
    background: url(../images/vision.jpg);
    color: white;
    height: 370px;
    padding-top: 1em;
}

.vision-container>p {
    margin-top: -2rem;

}

.visionbutton {
    border: 1px solid #c78c06;
    background: #222;
    color: white;
}

/* Team Section */
.Team {
    margin-left: 2rem;
    max-width: 1200px;
}

.JohnDoe,
.BobRite {
    margin-left: 1rem;
}

.JohnDoe {
    background: #ffe6ac;
    padding-top: 1em;
    margin-left: 0rem;
}

.BobRite {
    background: #ffe6ac;
    padding-top: 1em;
    margin-left: 0rem;
}

.who {
    margin-top: -4rem;
    font-weight: bold;
    border-bottom: 3px solid #c78c06;
}

.who>p {
    margin-top: -1rem;
    padding-bottom: 1em;
}

.name,
.email,
.message {
    margin-bottom: 1rem;
}

.send {
    background-color: #222;
    color: #c78c06;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.contact>h1 {
    margin-left: 0rem;
}

.contactform>h2 {
    margin-left: 0rem;
}

.contact input {
    max-width: 1200px;
    margin-top: 1rem;
    padding: 1em;
    width: 100%;
    display: block;
}

textarea {
    display: block;
    height: 150px;
    max-width: 1200px;
    margin-top: 1rem;
    width: 100%;


}

.contact {
    margin-left: 2rem;
}

/* This is the schedule section. in the for of a T-chart */

table {
    border-collapse: collapse;
}

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #222;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 8em;
    padding-left: 1em;
    width: 65%;
}

table th:nth-child(2) table td:nth-child(2) {
    width: auto;
}

table thead:nth-child(1) {
    background: #ffe6ac;
}

iframe {
    width: 100%;
}

footer {
    background: #222;
    color: #c78c06;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}


blockquote {
    margin-top: -1.5rem;
    margin-left: 1rem;

}

.unsplash {
    margin-left: -1.3rem;
    text-decoration: underline;
    background: none;
    color: #c78c06;
}

/* -------Media Query going to be used for desktop user--------- */

@media screen and (min-width:760px) {

    /* Desktop Header Section */
    header {

        background: #222;
        height: 140px;
    }

    .site-header .containerheader {

        background: none;
    }

    .containerheader {
        max-width: 1200px;
        display: flex;
        margin: auto;
        background: none;
        align-items: center;
        justify-content: center;

    }

    .logo {
        margin-top: 0.4rem;
    }

    .logo-background {
        background: none;
        height: 200px;
    }

    .nav-list {
        display: flex;
        margin-left: 4rem;
        margin-top: -1rem;

    }

    .nav-list .current {
        background: #c78c06;
        color: #222;
    }

    .searchbar {
        margin-top: -5rem;
        min-width: 150px;

    }

    .main-banner {
        margin: 0 auto;
        padding-left: 1em;
        padding-right: .5em;

    }

    .intro {
        max-width: 1200px;
    }

    .welcome {
        font-size: 97px;
    }

    a {
        background-color: #c78c06;
        text-decoration: none;
        color: #222;
        margin-left: 1.5rem;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }


    /* Desktop about us section */

    /* The image in the about us area is being wrapped. */
    .aboutus-nav {
       display: flex;
        margin: auto;
       padding-left: 9em;
        padding-bottom: 1.5em; 
       
    }
.aboutus{
    max-width: 1200px;   
}

.aboutus >p{
    padding-right:11em;
}

    .aboutuspic {
        height:340px;
        width: 40%;
    }

    /* This is the services section on desktop screen */

    /* Using Grid on the Services system */
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        column-gap: 1em;


        margin: auto;
        grid-template-areas:
            "title title title title title title"
            "digital digital digital marketing marketing marketing"
            "video video web web print print";
    }

    /* Every item here is placed to where it is assigned to */
    .services>h2 {
        grid-area: title;
    }

    .digital {
        grid-area: digital;
    }

    .market {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
        margin-bottom: 5rem;
        padding-bottom: 0em;
    }

    .web {
        grid-area: web;
        padding-bottom: 0em;
        margin-bottom: 5rem;

    }

    .print {
        grid-area: print;
        padding-bottom: 0em;
        margin-bottom: 5rem;
    }

    /* Using flex for all the buttons in the services section */
    .button {
        display: block;
        width: 90%;
        color: white;
        background: #222;

    }

    .digital>.button {
        padding-left: 12em;
    }

    .market>.button {
        padding-left: 12em;
    }

    .video>.button {
        padding-left: 7em;
    }

    .web>.button {
        padding-left: 7em;
    }

    .web>h3 {
        font-size: 38px;
    }

    .print>.button {
        margin-top: 3.9rem;
        padding-left: 7em;
    }

    /* .market > a{
   margin: auto;
} */

    .vision {
        margin: auto;
        margin-top: -4rem;
    }


    /* This is our team section which is going to be used as grid */

    .Team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        margin: auto;
        grid-template-areas:
            "title title"
            "pic1 text1"
            "text2 pic2";
    }

    .Team>h1 {
        grid-area: title;
    }

    .johndoe-pic {
        grid-area: pic1;

    }

    .JohnDoe {
        grid-area: text1;
        margin-left: -1em;
        width: 100%;
    }

    .bobrite-pic {
        grid-area: pic2;
        margin-left: -1rem;
        width: 100%;
    }

    .BobRite {
        grid-aRea: text2;
        margin-left: 0rem;
        margin-right: 1rem;
    }

    /* The contact Section using grid to make the location beside the form*/
    .contact {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin: auto;
        grid-template-areas:
            "title title"
            "form location"
            "schedule schedule"
        ;
    }

    .contact input {
        width: 95%;
        height: 20px;
    }

    textarea {
        width: 95%;

    }

    .location {
        grid-area: location;
    }

    .contactform {
        grid-area: form;
    }


    iframe {
        grid-area: location;
    }

    table tr:nth-child(1),
    table th:nth-child(1) {
        border: 1px solid #222;
        padding-right: 45em;

    }

    .schedule {
        width: 100%;
        grid-area: schedule;
    }


}