/* Mobile Version */
.wrapper{
    max-width: 1200px;
    width: auto;
    margin:auto;
}


.logo{
    width:20%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size:90px;
}
h2{
    font-family: 'Montserrat', sans-serif;    
    font-size:40px;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;   
}
.about{
    font-family: 'Montserrat', sans-serif;
    font-size:36px;    
}

.scooter{
    width:100%;
}

.info-below{
    text-align: center;
    margin-left:-3.2rem;
}

.signupform{
    max-width: 1200px;
    width: auto;
    margin:auto;   
    text-align: center;   
}
.firstname,
.lastname,
.phonenumber,
.emailaddress,
.agreement{
    margin-left:-3.2rem;   
}

input{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    font-size: 16px;
}

.agreement{
    font-family: 'Montserrat', sans-serif;  
}
.drivewithus{
  margin-left:-3rem;
  font-size: 20px;
  font-weight: bold;
  background-color: #57EEAB;
  padding:0.5em;
}

.orangetext{ 
color: #FF8480; 
}
.orangetext,
.applied{
    font-size:24px;
}
.Calculation{
    text-align: center;
    
}
.Calculation,
.socialmedia{
    background:#FFFD8C;
}

.calculation-p1{
    font-weight: bold;
}

.hours>input{
    display: flex;
    float: left;
    width:10%;
    margin-left: 7.5rem;
}
.City>input{
    margin-left:-7rem;
}

.calculate{
    font-size: 24px;
    font-weight: bold;
    background-color: #FF8480;
    color:white;
    margin-bottom: 1rem;
    padding-left:3em;
    padding-right:3em;
}
.socialmedia{
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

/* Tablet Layout */

@media screen and (min-width:768px){
    .firstname,
    .lastname,
    .phonenumber,
    .emailaddress{
        width:50%;
    }
}