/* Mobile Version */
.wrapper {
    width: auto;
    margin: auto;
}

html {
    width: auto;
    margin: auto;
    background-color: #F7F7FF;
}

.logo {
    width: 20%;
}

/* All the texts and headers will have a Montserrat Font */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* This is the about section, but nothing much will be added */

.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}


/* This is where we are about to see the form */
.info-below {
    text-align: center;
    margin-left: -3.2rem;
}

/* The form has the first name, last name, phone number, and email address input. There is also a checkbox.*/
.signupform {
    width: 80%;
    text-align: center;
    box-shadow: 0px 1px 1px 1px #707070;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding-bottom: 1em;
    margin-left: 2.5rem;
}

.firstname,
.lastname,
.phonenumber,
.emailaddress {
    margin-left: -1.0rem;
    background-color: #F4F4F5;
}

input {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.agreement {
    font-family: 'Montserrat', sans-serif;

}

/* This is the drive with us button which is going to been a Greenish colour */
.drivewithus {
    width: 70%;
    margin-left: -1rem;
    font-size: 13px;
    font-weight: bold;
    background-color: #57EEAB;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    border: none;

}

/* The text right hear will have an orange colour */
.orangetext {
    color: #FF8480;
}

.orangetext,
.applied {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 17px;
}

/* This is the section where you do a calculation. Type the number and City, then click Calculate. */
.Calculation {
    margin: auto;
    width: auto;
    text-align: center;
}

.Calculation,
.socialmedia {
    background: #FFFD8C;
}

.calculation-p1 {
    font-weight: bold;
}

.hours>input {
    display: flex;
    float: left;
    width: 60px;
    margin-left: 5.5rem;
    padding-right: 1em;
    padding-left: 0.3em;


}

.City>input {
    width: 200px;
    padding-left: 0.3em;
    margin-left:-4.5rem;

}

.City {
    margin-left: 1rem;
}

.Calculation {
    padding-top: 0.5em;
    margin-top: 3rem;
}

.calculatebutton {
    font-size: 24px;
    font-weight: bold;
    background-color: #FF8480;
    color: white;
    margin-bottom: 1rem;
    padding: 0.2em;
    border-radius: 10px;
    border: none;

}

form>.calculatebutton{
padding-left: 5em;
padding-right: 5em;
}

.socialmedia {
    width: auto;
    margin: auto;

}

.socialmedia>.facebook {
    padding-bottom: 1em;
    background: #FFFD8C;

}

.socialmedia>.instagram {

    margin-left: 3rem;
    padding-bottom: 1em;
    background: #FFFD8C;

}

.socialmedia>.twitter {

    margin-left: 3rem;

    padding-bottom: 1em;
    background: #FFFD8C;

}

.socialmedia>.linkedin {
    margin-left: 3rem;
    padding-bottom: 1em;
    background: #FFFD8C;

}

/* .facebook,
.instagram,
.twitter,
.linkedin{
    max-width: 304px;
    margin: auto;
    margin-left:200rem;
   background: #FFFD8C;
} */

/* Tablet Layout */

@media screen and (min-width:375px) {
    .signupform {
        margin: auto;
        max-width: 550px;

    }

    .firstname,
    .lastname,
    .phonenumber,
    .emailaddress {
        width: 70%;
    }

    .drivewithus {
        text-align: center;
        padding-left: 6em;
        padding-right: 6em;
    }

    .calculation-p1 {
        margin-left: -8rem;
    }

    .hours>input {
        display: flex;
        float: left;
        width: 10%;
        padding-right: 1em;
        padding-left: 0.3em;

    }


    form>.calculatebutton {
       width: 200px;
        margin-left: -10rem;
        padding-left: 1em;
        padding-right: 1em;
    }

    .facebook,
    .instagram,
    .twitter,
    .linkedin {
        margin: auto;
        width: auto;
        display: inline;
    }

    .socialmedia {
        margin: auto;
        width: auto;
    }
}

/* This is the desktop layout where everything is going to be rearranged */
@media screen and (min-width:1200px) {
    .wrapper {
        width: auto;
        margin: auto;
        background-image: url(/landingpage/images/scooter.svg);
        background-position: 40% 30%;
        background-repeat: no-repeat;
        background-size: 50%;

    }

    h1 {
        max-width: 400px;
    }

    .about {
        max-width: 500px;
    }

    .scooter {
        display: none;
    }

    .main {
        display: grid;
        margin: auto;
        width: auto;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo""form""form"
            "headerabout""form""form"
            "footer""footer""footer";
    }

    header,
    .about {
        grid-area: headerabout;
    }

    .signupform {
        grid-area: form;
        margin: auto;
        width: auto;
        margin-right: -50rem;
    }

    .Calculation {
        grid-area: footer;

    }

    .signupform {
        margin: auto;
        width: auto;
        margin-right: 50px;
        margin-top:-20rem;

    }

    .logo {
        width: 8%;
    }

    .hours>input {
        display: flex;
        float: left;
        width: 7%;
        margin-left: 3rem;
    }

    .City>input {
        display: block;
        float: left;
        margin-left: 1rem;
        width: 27%;
    }

    .calculatebutton {
        width:200px;
        margin-right: 5rem;
        
    }


}