/* Mobile Version */
/* It is a mobile version because of the default size on my laptop */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    margin: auto;
    background-color: #F7F7FF;
}

.logo {
    width: 100px;
}

/* All the texts and headers will have a Montserrat Font */
h1 {
    font-size: 60px;
    max-width: 300px;
}

h2 {

    font-size: 40px;
    text-align: center;
}


/* This is the about section, but nothing much will be added */

.about {
    width: auto;
    width: 320px;
    font-size: 24px;

}

.scooter {
    display: flex;
    width: auto;
    margin: auto;

}

/* This is where we are about to see the form */
.info-below {
    text-align: center;
    margin-left: -3.2rem;
}

/* The form has the first name, last name, phone number, and email address input. There is also a checkbox.*/
.signupform {
    width: 90%;
    text-align: center;
    box-shadow: 1px 1px 5px 1px #707070;
    border-radius: 26px;
    border: none;
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: 2.5rem;
}

/* The input itself is going to have a different colour to the form so it would be easier to see */
.firstname,
.lastname,
.phonenumber,
.emailaddress {
    margin-left: -1.0rem;
    background-color: #F4F4F5;
}

input {

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.agreement {
    font-family: 'Montserrat', sans-serif;

}

/* This is the drive with us button which is going to been a Greenish colour */
.drivewithus {
    width: 70%;
    font-size: 24px;
    font-weight: bold;
    background-color: #57EEAB;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    border: none;

}

form>.drivewithus {
    margin-left: -1rem;

}

/* The text right hear will have an orange colour */
.orangetext {
    max-width: 100px;
    color: #FF8480;
}

.orangetext,
.applied {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 17px;
}

/* This is the section where you do a calculation. Type the number and City, then click Calculate. */
.Calculation {
    margin: auto;
    width: auto;
    text-align: center;
    padding-top: 0.5em;
    margin-top: 3rem;
    background: #FFFD8C;
}

.Calculation,
.socialmedia {
    background: #FFFD8C;
}

/* For the text in the calculation area, I tried to make the paragraph aligned as pecfect as possible */
.calculation-p1 {
    max-width: 400px;
    margin-left: 3.5rem;
    font-weight: bold;

}

.calculation-p2 {
    max-width: 470px;
    text-align: center;
    margin-left: 5rem;
    margin-right: 7rem;
    margin-bottom: 1rem;
}

/* Here are the inputs in the calculation section. You have the hours, city, and a button that does the 
calculation. I used flex to make things align */
.hours>input {
    margin: auto;
    width: auto;
    max-width: 50px;
    display: flex;
    width: 68px;
    margin-left: 5.8rem;
    padding-right: 1.6em;
    padding-left: 0.3em;
}

.City>input {
    margin: auto;
    width: auto;
    display: flex;
    margin-bottom: 1rem;
    width: 200px;
    padding-left: 0.3em;
    margin-left: 10rem;

}

.City {
    margin-left: 1rem;
}

/* The button is going to be positioned right under the 2 inputs */
form>.calculatebutton {
    width: 18rem;
    font-size: 24px;
    font-weight: bold;
    background-color: #FF8480;
    color: white;
    margin-bottom: 1rem;
    margin-right: -11rem;
    padding: 0.2em;
    border-radius: 10px;
    border: none;

}

/* The social media icon should have equal spacing and aligned properly */
.socialmedia {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
}
/* The facebook logo is going to be a circle instead of the square */
.facebook {
    border-radius: 50px;
}
.linkedin{
    border-radius: 5px;
}

/* Tablet Layout */

@media screen and (min-width:500px) {

    .about {
        max-width: 600px;
    }

    /* The size of the scooter should not grow, instead slide to the right like the form */
    .scooter {
        margin: auto;
        max-width: 450px;
    }

    /* The form is only going to expand. The layout and everything else will stay the same. */
    .signupform {
        margin: auto;
        max-width: 550px;

    }

    .firstname,
    .lastname,
    .phonenumber,
    .emailaddress {
        width: 70%;
    }

    .calculation-p1 {
        width: auto;
        font-weight: bold;

    }

    .calculation-p2 {
        margin-left: 5.5rem;
    }

    .hours>input {
        display: flex;

        float: left;
        width: 10%;
        padding-right: 1em;
        padding-left: 0.3em;

    }

    .City>input {
        display: flex;
        flex-wrap: wrap;
    }

    .calculatebutton {
        margin-left: -10rem;
        padding-left: 1em;
        padding-right: 1em;
    }

    .facebook,
    .instagram,
    .twitter,
    .linkedin {
        margin: auto;
        width: auto;
        display: inline;
    }

    .socialmedia {
        margin: auto;
        width: auto;
    }
}

/* This is still the tablet screen. Had to add another media query to make sure 
the calculation button will be aligned with the hours and city input. */
@media screen and (min-width:620px) {

    h1 {
        font-size: 80px;
        max-width: 500px;
    }

    .about {
        width: auto;
    }

    .calculatebutton {
        display: block;
        margin-left: 25rem;
        max-width: 180px;
    }

    .City>input {
        display: block;
        float: left;
        margin-left: 1rem;
        width: 200px;
    }

}

/* This is the desktop layout where everything is going to be rearranged */
@media screen and (min-width:1200px) {
    .wrapper {
        width: auto;
        margin: auto;
        background-image: url(/landingpage/images/scooter.svg);
        background-position: 40% 30%;
        background-repeat: no-repeat;
        background-size: 50%;

    }


    .scooter {
        display: none;
    }
/* I used the grid for the desktop layout to put the heading and a quick paragraph on the left side, I placed the 
form on the right side and the calculation form will stay at the bottom */
    .main {
        display: grid;
        margin: auto;
        width: auto;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo""form""form"
            "headerabout""form""form"
            "footer""footer""footer";
    }

    header,
    .about {
        grid-area: headerabout;
    }

    .signupform {
        grid-area: form;
        margin: auto;
        width: auto;
        margin-right: -50rem;
    }

    .Calculation {
        grid-area: footer;
        background-color: #FFFD8C;
        padding-bottom: 5em;
    }

    .signupform {
        margin: auto;
        width: auto;
        margin-right: 50px;
        margin-top: -20rem;

    }

    .logo {
        width: 8%;
    }

    .hours>input {
        display: flex;
        float: left;
        width: 7%;

    }

    .City>input {
        display: flex;
        float: left;
        margin-left: 1rem;
        width: 200px;
    }

    .socialmedia {
        margin-left: 70rem;
        margin-top: -3.5rem;
        
    }
/* This is where I swaped the order of the social media icons */
    .socialmedia>.instagram{
        display: flex;
        order: -1;
    }
    .socialmedia>.facebook{
        display: flex;
        order:1;
    }
    .socialmedia>.linkedin{
        display: flex;
        order:1;
    }

    /* Removed the round facebook and now it is a square */
    .facebook {
        border-radius: unset;
    }
}